<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<mc-article-form *ngIf="initialValues$ | async"
                 [initialValue]="initialValues$ | async"
                 [isSubmitting]="isSubmitting$ | async"
                 [errors]="backandErrors$ | async"
                 (articleSubmit)="onSubmit($event)"></mc-article-form>
