<ul class="pagination">
  <li *ngFor="let page of pages"
      class="page-item"
      [ngClass]="{active: currentPageProps === page}"
  >
    <a [routerLink]="urlProps"
       class="page-link"
       [queryParams]="{page: page}"
    >{{page}}</a>
  </li>
</ul>
