<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md6- offset-md3 col-xs-12">
        <h1 class="text-xs-center">Sing In</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Need an account?</a>
        </p>
        <mc-backand-errors-messages
            *ngIf="backandErrors$ | async"
            [backandErrors]="backandErrors$ | async"
        ></mc-backand-errors-messages>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input type="email"
                     class="form-control form-control-lg"
                     placeholder="Email"
                     formControlName="email">
            </fieldset>

            <fieldset class="form-group">
              <input type="password"
                     class="form-control form-control-lg"
                     placeholder="Password"
                     formControlName="password">
            </fieldset>
            <button [disabled]="isSubmitting$ | async" type="submit" class="btn btn-lg btn-primary pull-xs-right">Sign In</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
