<nav class="navbar navbar-light">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">medium</a>
  </div>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Home</a>
    </li>
    <ng-container *ngIf="isLoggedIn$ | async">
      <li class="nav-item">
        <a [routerLink]="['/article/new']" class="nav-link">
          <i class="ion-compose"></i>
          &nbsp; New Post
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/settings']" class="nav-link">
          <i class="ion-gear-a"></i>
          &nbsp; Settings
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/profiles', (currentUser$ | async).username]" class="nav-link">
          <img [src]="(currentUser$ | async).image" class="user-pic" />
          &nbsp; {{(currentUser$ | async).username}}
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="isAnonymous$ | async">
      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">
          Sign In
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/register']" class="nav-link">
          Sign Up
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
