<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<mc-error-message *ngIf="error$ | async"></mc-error-message>

<div class="sidebar" *ngIf="popularTags$">
  <p>Popular Tags</p>
  <div class="tag-list">
    <a *ngFor="let popularTag of popularTags$ | async"
       [routerLink]="['/tags', popularTag]"
        class="tag-default tag-pill">
      {{popularTag}}
    </a>
  </div>
</div>
