<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
         <mc-backand-errors-messages
           *ngIf="errorsProps"
           [backandErrors]="errorsProps"
         ></mc-backand-errors-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text"
                     class="form-control form-control-lg"
                     placeholder="Article title"
                     formControlName="title" />
            </fieldset>
            <fieldset class="form-group">
              <input type="text"
                     class="form-control form-control-lg"
                     placeholder="Description"
                     formControlName="description" />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                     rows="8"
                     class="form-control form-control-lg"
                     placeholder="Write your article (in markdown)"
                     formControlName="body"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="text"
                     class="form-control form-control-lg"
                     placeholder="Enter tags"
                     formControlName="tagList" />
            </fieldset>
            <fieldset>
              <button type="submit"
                      class="btn btn-lg pull-xs-right btn-primary"
                      [disabled]="form.invalid || isSubmittingProps"
              >Publish Article</button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
